<footer id="footer" class="bg-one">

  <div class="top-footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                  <img src="https://popprobe.com/images/logowhite.webp" alt="" width="160px">
                  <h3 class="mt-4 white-color">ORGANIZATIONS WE ARE PART OF:
                  </h3>
                  <h2 class="text-primary font-weight-bold">MSPA</h2>
                  <h3 class="text-warning">MYSTERY SHOPPING <br>
                      PROFESSIONALS ASSOCIATION</h3>
                  <h2 class="text-primary">ESOMAR
                      </h2>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 offset-lg-1">
                  <ul class="padding-footer-list">
                      <li><h3>Options</h3></li>
                      <li><a href="https://popprobe.com//service.html">Services </a></li>
                      <li><a href="https://popprobe.com//about.html"> About Us </a></li>
                      <li><a href="https://popprobe.com//blogNew/index.html">Blog</a></li>
                      <li><a href="https://popprobe.com//team.html">Our Team </a></li>
                      <li><a href="https://popprobe.com//contact.html">Contact Us</a></li>
                      <!-- <li><a href="#"> </a></li> -->
                  </ul>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2">
                  <ul class="padding-footer-list">
                      <li class="mb-2">
                          <h3>Connect</h3></li>
                      <li class="mb-2">
                          <a
                              href="https://www.linkedin.com/showcase/popprobe/">
                              <img class="image-social"
                                  src="https://popprobe.com/images/linkedin-icon.png" alt="">
                              Linkedin</a></li>
                      <li class="mb-2">
                          <a href="https://medium.com/@popprobe">
                              <img class="image-social"
                                  src="https://popprobe.com/images/medium-icon.png" alt="">
                              Medium</a></li>
                      <li class="mb-2">
                          <a href="https://www.quora.com/topic/POPProbe">
                              <img class="image-social"
                                  src="https://popprobe.com/images/Quora.svg" alt="">
                              Quora</a></li>
                  </ul>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                  <ul class="padding-footer-list">
                      <li><h3>Get in touch
                          </h3></li>
                      <li><a href="#">United States: <br>
                              (O) +1.954.862-3661 <br>
                              (F) 954-862-3662</a></li>
                      <li><a href="#">TRINIDAD: <br>
                              (O) +1.868.222-6746</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

</footer>