<header id="header" class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- logo -->
      <a class="navbar-brand logo mt-0" href="https://popprobe.com/index.html">
        <!-- <img class="logo-default" src="assets/logo.png" alt="logo"
          style="width: 140px;" /> -->
        <!-- <img class="logo-white" src="https://popprobe.com/images/logo.webp" alt="logo"
          style="width: 140px;" /> -->
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle
        navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item navbar-item-padding">
            <a class="nav-link" href="https://feature.popprobe.com/">Features</a>
          </li>
          <li class="nav-item navbar-item-padding">
            <a class="nav-link" href="https://popprobe.com/service.html">Services</a>
          </li>
          <li class="nav-item active navbar-item-padding">
            <a class="nav-link" href="https://popprobe.com/about.html">About Us</a>
          </li>
          <li class="nav-item navbar-item-padding">
            <a class="nav-link" href="https://popprobe.com/blogNew/index.html">Blog</a>
          </li>
          <li class="nav-item navbar-item-padding">
            <a class="nav-link" href="https://popprobe.com/team.html">Our Team</a>
          </li>
          <li class="nav-item navbar-item-padding">
            <a class="nav-link" href="https://popprobe.com/contact.html">Contact Us</a>
          </li>

        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>