

<div class="dasboard">
<div class="col-12 row" style="margin-top: 200px;">
  <div class="col-3">

  </div> 
  <div class="col-6 postSection">
    <div class="col-12 row">
      <div class="col-9" style="border: 1px solid;
      border-radius: 5px;">
       <span>
         <img src="https://www.wikivillage.in/img/comment-avetar.png" alt=""  class="postImage">
       </span>
        <textarea name="post" id="post" style="width: 88%;border : 0px"></textarea>
      </div>
      <div class="col-3">
        <button class="btn btn-primary">Post</button>
      </div>
    </div>
    <div class="col-12 postedCard">
      <div class="col-12">
          <span>
            <img src="https://www.wikivillage.in/img/comment-avetar.png" alt=""  class="postedImage">
        </span>
        <span>
          Pratap Chauhan
        </span>
      </div>
      
      <div class="col-12" class="postedMessage">
        <p>
          Write a message here 
        </p>
      </div>
      <div class="col-12 row">
        <div class="col-6 postLike" >
          <h6>Like</h6>
        </div>
        <div class="col-6 postedComment">
          <h6>Comment</h6>
        </div>
      </div>
    </div>



    <div class="col-12 postedCard">
      <div class="col-12">
          <span>
            <img src="https://www.wikivillage.in/img/comment-avetar.png" alt=""  class="postedImage">
        </span>
        <span>
          Pratap Chauhan
        </span>
      </div>
      
      <div class="col-12" class="postedMessage">
        <p>
          Write a message here 
        </p>
      </div>
      <div class="col-12 row">
        <div class="col-6 postLike" >
          <h6>Like</h6>
        </div>
        <div class="col-6 postedComment">
          <h6>Comment</h6>
        </div>
      </div>
    </div>




  </div>
  <div class="col-3">

  </div>
</div>

</div>